.header {
  position: relative;
  height: 100vh;
  background-image: url(../img/Website.jpg);
  background-size: cover;
  background-position: top;
  //   width: 70%;

  &__messagebox {
    /* child of header */
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* cenntres the text in the text_box including the button */
    // text-align: center;
  }

  &__loginbox {
    background-color: $color-white;
    border-radius: 1rem;
    // height: 10rem;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 1rem rgba($color-white, 0.2);
    animation-name: move_in_left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}
