body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  /* adding the padding around the entire body */

  background-color: #eeebebef;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* for smooth animation of the headings */
  backface-visibility: hidden;
  margin-bottom: 1rem;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.5rem;

    // media query
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    /* animation property */
    animation-name: move_in_left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;

    // media query
    @include respond(phone) {
      letter-spacing: 0.3rem;
      font-size: 2rem;
    }

    /* animation propperties */
    animation: move_in_right 1.5s ease-out;
    /* animation-name: move_in_right;
      animation-duration: 1.5s;
      animation-timing-function: ease-out; */
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;

  // media query
  @include respond(tab-port) {
    font-size: 3rem;
  }
  // media query
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(0deg) skewX(0deg) scale(0.98);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  // letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
}

.paragraph {
  font-size: $default-font-size;
  font-weight: 300px;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
