{% extends 'patient/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<body bgcolor="#D6EAF8">
<style>
    /* loader css  */
      /* Center the loader */
      #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      /* Add animation to "page content" */
      .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
      }

      @-webkit-keyframes animatebottom {
        from {
          bottom: -100px;
          opacity: 0;
        }
        to {
          bottom: 0px;
          opacity: 1;
        }
      }

      @keyframes animatebottom {
        from {
          bottom: -100px;
          opacity: 0;
        }
        to {
          bottom: 0;
          opacity: 1;
        }
      }

      #myDiv {
        display: none;
        text-align: center;
      }
      /*  loader css ends */
    </style>

<div class="patient_profile">
      <div class="story GB">
        <div class="row GB">
          <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <p class="p_head">Select file to upload:</p>
            <!-- actual upload which is hidden -->
            <div class="form__group GB">
                <!--<input
                  type="text"
                  class="form__input"
                  placeholder="First Name"
                  id="first"
                  required
                />-->
                {% render_field form.name class+="form__input" placeholder='Report Name' type="text" name="text" required="required" %}
            </div>
            <br>
            <!--<input type="file" id="actual-btn" hidden />-->
            
            {% render_field form.document type="file" name="" id='file'  hidden='true' %}
            <label for='file' id="selector" class="btn-text btn-label">
              Choose file
            </label>
            <!-- our custom upload button 
            <label for="actual-btn" class="btn-text btn-label"
              >{{form.document}} &rarr;</label>-->

            <!-- name of file chosen -->
            <script>
              var loader = function (e) {
                let file = e.target.files;
                let show = '<span>selected file : </span>' + file[0].name;
                let output = document.getElementById('selector');
                output.innerHTML = show;
                output.classList.add('active')
              }
              // event listener for input
              let fileInput = document.getElementById("file");
              fileInput.addEventListener('change', loader)
            </script>
         
          <div class="form__group u-margin-top-medium">
            <br>
            <button onclick = "move()" class="btn btn--green">
              Upload
            </button>
            
            <div id="loader" style="display: none"></div>
          </div>
          <script>
              function move() {
                document.getElementById("loader").style.display = "";      
              }
          </script>
          </form>
        </div>
      </div>
</div>
</body>
{% endblock %}



