{% extends 'patient/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<html lang="en">
  <head>
    <title>Add patient</title>
  </head>
  <body bgcolor="#D6EAF8">
   
    <div class="patient_form">
      <div class="row GB">
        <div class="book GB">
          <div class="book__form GB">
            <form method="post" class="form GB">{% csrf_token %}
              <div class="u-margin-bottom-medium GB">
                <h2 class="heading-secondary">Add New Patient</h2>
              </div>
              <form method='post'>{% csrf_token %}
              <div class="form__group GB">
               
                {% render_field form.fname class+="form__input" placeholder='First Name' type="text" name="firstname" required="required" %}
                {{ form.fame.errors}}
                <label for="first" class="form__label">First Name</label>
              </div>
              <br>
              <div class="form__group GB">
                
                {% render_field form.lname  class+="form__input" placeholder='Last Name' type="text" name="lastname" required="required" %}
                {{ form.lname.errors}}
                <label for="last" class="form__label">Last Name</label>
              </div>

              <br>
              <div class="form__group">
               
                {% render_field form.address placeholder="Address" type="text" name="address" required="required" class="form__input" %}
							  {{ form.address.errors}}
                <label for="address" class="form__label">Address</label>
              </div>

             <br>

              

              <div class="form__group">
                <!--<input
                  type="number"
                  class="form__input"
                  placeholder="Postal/Zip"
                  id="address"
                  required
                />-->
                {% render_field form.zip placeholder="Postal/Zip" type="number" name="zip" required="required" class="form__input" %}
							  {{ form.zip.errors}}
                <label for="address" class="form__label">Postal/Zip</label>
              </div>
        
             <br>

             

              <div class="form__group">
                <button type = "submit" class="btn btn--green">
                  Add patient
                </button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
{% endblock content %}





