.patient_form {
  padding: 7rem 7rem 10rem 7rem;
  position: relative;
  //   height: 100vh;
  background-image: url(../img/3.png);
  //   background-color: $color-grey-light-2;
  background-size: cover;
  background-position: top;
}
